@using EasyPark.Models
@model List<Vaga>
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    <h2>@Html.ActionLink("Cadastrar Vaga", "CadastrarVaga", "Vaga", null, null)</h2>

    <div style="margin-top:20px;">
        <div class="row">
            @foreach (Vaga v in Model)
            {
                if (v.Disponivel == true)
                {
                    <div class="col-lg-2 card text-white bg-success" style="text-align:center; margin-left:30px; margin-bottom:20px; max-width:100rem">
                        <div class="card-header">Vaga Disponível</div>
                        <div class="card-body">
                            @Html.ActionLink("Ocupar Vaga", "OcuparVaga", "Vaga", new { id = v.VagaID }, new { @class = "btn btn-secondary" })
                        </div>
                    </div>
                }

                else if (v.Disponivel == false)
                {
                    <div class="col-lg-2 card text-white bg-success" style="text-align:center; margin-left:30px; margin-bottom:20px; max-width:100rem">
                        <div class="card-header">Vaga Indisponível</div>
                        <div class="card-body">
                            @Html.ActionLink("Exibir Detalhes", "VagaDetalhes", "Vaga", new { id = v.VagaID }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
