@using EasyPark.Models
@model List<Vaga>
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    <h2>@Html.ActionLink("Cadastrar Vaga", "CadastrarVaga", "Vaga", null, null)</h2>

    @foreach (Vaga v in Model)
    {
        <div class="row">
            <div class="col-3">
                @if (v.Disponivel == true)
                {
                    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                        <div class="card-header">Vaga Disponível</div>
                        <div class="card-body">
                            <h4 class="card-title">Teste</h4>
                            <p class="card-text">@Html.ActionLink("Ocupar Vaga", "OcuparVaga", "Vaga", new { id = v.VagaID }, null )</p>
                        </div>
                    </div>
                }
                
                @if (v.Disponivel == false)
                {
                    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                        <div class="card-header">Vaga Disponível</div>
                        <div class="card-body">
                            <h4 class="card-title">Teste</h4>
                            <p class="card-text">@Html.ActionLink("Exibir Detalhes", "VagaDetalhes", "Vaga", new { id = v.VagaID }, null)</p>
                        </div>
                    </div>
                }


            </div>
        </div>
    }

</div>