@model EasyPark.Models.Historico
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<table class="table table-hover table-striped" style="margin-top:30px">
    <tr>
        <td colspan="2">
            <h4><b>Cliente: </b>@Model.Automovel.Cliente.Nome</h4>
        </td>
    </tr>
    <tr>
       
        <td style="vertical-align: top; padding-left: 30px">
            <h3><b>Automóvel</b></h3>
            <b>Modelo: </b>@Model.Automovel.Modelo<br />
            <b>Marca: </b>@Model.Automovel.Marca<br />
            <b>Placa: </b>@Model.Automovel.Placa<br /><br />

        </td>
    </tr>
</table>

