@using EasyPark.Models
@model List<Vaga>
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2>Vagas disponíveis</h2>
<h4>Dados atualizados às: @DateTime.Now</h4>
<div style="margin-top:20px;">
    <div class="row">
        @foreach (Vaga v in Model)
        {
            if (v.Disponivel == true)
            {
                <div class="col-lg-2 card text-white bg-success" style="text-align:center; margin-left:30px; margin-bottom:20px; max-width:100rem">
                    <div class="card-header">Vaga @v.VagaID Disponível</div>
                    <div class="card-body">
                        <strong>Essa vaga pode ser sua!</strong>
                    </div>
                </div>
            }

            else if (v.Disponivel == false)
            {
                <div class="col-lg-2 card text-white bg-danger" style="text-align:center; margin-left:30px; margin-bottom:20px; max-width:100rem">
                    <div class="card-header">Vaga @v.VagaID Indisponível</div>
                    <div class="card-body">
                        <strong>Infelizmente alguém já a ocupou! :(</strong>
                    </div>
                </div>
            }
        }
    </div>
</div>