
@{
    ViewBag.Title = "Vagas API";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="jumbotron">
    <h3 class="display-4">Vagas API EasyPark</h3>
    <p class="lead">Nosso webservice é sobre consulta de vagas disponiveis em nosso estacionamento, nosso retorno de dados é fornecido pela linguagem "JSON"</p>
    <h4>Acessando nosso webservice</h4>
    <p class="lead">
        Para acessar nosso webservice basta acessar a url:
        <a href="http://localhost:50171/api/Vaga/VagasDisponiveis" target="_blank" class="text-info">http://localhost:50171/api/Vaga/VagasDisponiveis</a>
    </p>
    <h4>Validação da consulta</h4>
    <p>Caso a url seja digitada errada a consulta retornara um 404(Not found)</p>
</div>

