
@{
    ViewBag.Title = "Empresa";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Empresa</h2>

<div>
    <h5>A EasyPark é uma empresa que administra e opera Estacionamentos de todas</h5>
    <h5>as modalidades, no caso de voce ter uma área com a finalidade de locação,</h5>
    <h5>ou uma empresa e queira fazer uma parceria, ou terceirizar o estacionamento</h5>
    <h5>da mesma a EasyPark indicará as soluções tecnológicas mais apropriadas de acordo</h5>
    <h5>com cada empreendimento com a melhor relação custo benefício.Todos os nossos</h5>
    <h5>estacionamentos possuem monitoramento com gravação digital, possuimos know how</h5>
    <h5>em controles de acessos automatizados e informatizados, sistemas gerenciadores</h5>
    <h5>de dados operacionais, financeiros e estatisticos.</h5>
</div>

<div>
    <h1><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1488.7877207915421!2d-49.27775378533474!3d-25.43374313926831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce472edc5a101%3A0xfa5c02ff6be9d1a0!2sPra%C3%A7a+Gen.+Os%C3%B3rio%2C+125+-+Centro%2C+Curitiba+-+PR%2C+80020-010!5e1!3m2!1spt-BR!2sbr!4v1537462541337" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></h1>
</div>